h1,h3{
    text-align: center;
}
.btn-con{
    display: flex;
    justify-content: center;
    margin: auto;
}
.btn{
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: rgb(223, 89, 89);
}
.green{
    background-color: pink;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
#start{
    height: 49px;
    width: 96px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
}
.button{
    display: flex;
    justify-content: center;
}
body{
background-color: cadetblue;
}